<div class="main">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>

	<div class="palm-page-header multi-line">
		<div id="searchContainer" style="display: none;" class="filter-field-wrapper">
			<div class="icon"></div>
			<div class="palm-row-wrapper textfield-group">
				<div class="title main">
					<div id="searchWidget" x-mojo-element="TextField"></div>
				</div>
			</div>
			<div class="title sub" id="subSearch">Press Enter To Search</div>
		</div>
		<div id="headerContainer" class="palm-page-header-wrapper">
			<div class="icon"></div>
			<div class="title main">
				<span id="main-title">Preware</span>
				<span class="version" id="version">v0.0.0</span>
			</div>
			<div class="title sub" id="subTitle">The Open Source Installer</div>
		</div>
	</div>
	
	<div class="palm-list" id="list">
		<div id="mainList" x-mojo-element="List"></div>
	</div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
