<div class="main">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="icon"></div>
			<div class="title main" id="main-title">
				Preware
				<span class="version" id="version">v0.0.0</span>
			</div>
			<div class="title sub" id="subTitle">The Open Source Installer</div>
		</div>
	</div>
	
	<div class="palm-list" id="list">
		<div id="mainList" x-mojo-element="List"></div>
	</div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
