<div class="configs">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="icon"></div>
			<div class="title">Feeds</div>
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title">Installed</div>
		<div class="palm-list" id="confList" x-mojo-element="List">
			
		</div>
	</div>
	
	<div class="palm-group disabled">
		<div class="palm-group-title">New Feed</div>
		<div class="palm-list">
				
			<div class="palm-row first">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">Name</div>
						<div id="newName" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
			
			<div class="palm-row">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">URL</div>
						<div id="newUrl" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
			
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div class="label left">Is Compressed</div>
					<div id="newCompressed" x-mojo-element="ToggleButton"></div>
				</div>
			</div>
			
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div id="newButton" x-mojo-element="Button"></div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>