<div class="prefs">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="headerButton" id="headerButton" x-mojo-touch-feedback="delayed">Feed</div>
			<div class="icon"></div>
			<div class="title">Preferencias</div>
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title">Global</div>
		<div class="palm-list">
			
			<div class="palm-row single"> <!-- x-mojo-tap-highlight="momentary" //-->
				<div class="palm-row-wrapper">
					<div id="theme" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title">Inicio</div>
		<div class="palm-list">
			
			<div class="palm-row first">
				<div class="palm-row-wrapper">
					<div id="updateInterval" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div class="label left">Última actualización</div>
					<div class="title right" id="lastUpdate">Nunca</div>
				</div>
			</div>
			
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div class="label left">Corregir desconocidos</div>
					<div id="fixUnknown" x-mojo-element="ToggleButton"></div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title">Principal</div>
		<div class="palm-list">
			
			<div class="palm-row single" id="showAvailableTypesContainer">
				<div class="palm-row-wrapper">
					<div class="label left">Mostrar tipos</div>
					<div id="showAvailableTypes" x-mojo-element="ToggleButton"></div>
				</div>
			</div>
			
			<div id="availableTypes">
				
				<div class="palm-row">
					<div class="palm-row-wrapper">
						<div class="label left">Mostrar aplicaciones</div>
						<div id="showTypeApplication" x-mojo-element="ToggleButton"></div>
					</div>
				</div>
				
				<div class="palm-row">
					<div class="palm-row-wrapper">
						<div class="label left">Mostrar temas</div>
						<div id="showTypeTheme" x-mojo-element="ToggleButton"></div>
					</div>
				</div>
				
				<div class="palm-row">
					<div class="palm-row-wrapper">
						<div class="label left">Mostrar parches</div>
						<div id="showTypePatch" x-mojo-element="ToggleButton"></div>
					</div>
				</div>
				
				<div class="palm-row last">
					<div class="palm-row-wrapper">
						<div class="label left">Mostrar otros</div>
						<div id="showTypeOther" x-mojo-element="ToggleButton"></div>
					</div>
				</div>
				
			</div>
			
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title">Lista Scene</div>
		<div class="palm-list">
			
			<div class="palm-row first">
				<div class="palm-row-wrapper">
					<div id="listSort" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div id="secondRow" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div class="label left">Instalados disponibles</div>
					<div id="listInstalled" x-mojo-element="ToggleButton"></div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="palm-group" id="backgroundPreferences">
		<div class="palm-group-title">Fondo</div>
		<div class="palm-list">
			
			<div class="palm-row first">
				<div class="palm-row-wrapper">
					<div id="backgroundUpdates" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div class="label left">Instalado automático</div>
					<div id="autoInstallUpdates" x-mojo-element="ToggleButton"></div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="palm-group" id="secretPreferences">
		<div class="palm-group-title">Partes secretas</div>
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div class="label left">Esta versión no tiene opciones secretas.</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<!--
	<div class="palm-group">
		<div class="palm-group-title">asdf</div>
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper">

					asdf

				</div>
			</div>
	
		</div>
	</div>
	//-->
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
