<div class="pkg-install">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="icon" id="icon"></div>
			<div class="title" id="install-title">Install Package</div>
		</div>
	</div>
	
	<div x-mojo-element="Spinner" id="spinner" style="display: none;">
		<div id="spinnerStatus"></div>
	</div>
	
	<div id="formContainer">
	
		<div class="palm-group">
			<div id="group-title" class="palm-group-title">File</div>
			<div class="palm-list">
				
				<div class="palm-row single">
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
						<div class="title">
							<div id="file" x-mojo-element="TextField"></div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		<div id="browseButton" x-mojo-element="Button"></div>
		
		<div id="infoButton" x-mojo-element="Button"></div>
		
		<div id="installButton" x-mojo-element="Button"></div>
		
		<div id="notice-text" class="palm-body-text note"><b>Note:</b><br />If this package needs a luna restart or device restart after installation, you will need to manually perform it when the installation is complete.</div>
		
	</div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
