<div class="pkg-connected">
	
	<div class="scene-fade-top" id="topFade" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-header" id="pkgConnectedHeader">
		<span id="listTitle">Paquetages connectés</span>
	</div>
	
	<div class="palm-page-header multi-line" id="pkgSingle"></div>
	
	<div class="palm-header-spacer" id="pkgSpacer"></div>
	
	<div x-mojo-element="Spinner" id="spinner">
		<div id="spinnerStatus">...</div>
	</div>
	
	<div class="palm-list" id="pkgListContainer">
		<div id="pkgList" x-mojo-element="List"></div>
	</div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
