<div class="prefs">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="headerButton" id="headerButton" x-mojo-touch-feedback="delayed">Feeds</div>
			<div class="icon"></div>
			<div class="title">Einstellungen</div>
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title">Global</div>
		<div class="palm-list">
			
			<div class="palm-row single"> <!-- x-mojo-tap-highlight="momentary" //-->
				<div class="palm-row-wrapper">
					<div id="theme" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title">Progammstart</div>
		<div class="palm-list">
			
			<div class="palm-row first">
				<div class="palm-row-wrapper">
					<div id="updateInterval" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div class="label left">Letztes Update</div>
					<div class="title right" id="lastUpdate">Niemals</div>
				</div>
			</div>
			
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div class="label left">Repariere Unbekannte</div>
					<div id="fixUnknown" x-mojo-element="ToggleButton"></div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title">&Uuml;bersichtsseite</div>
		<div class="palm-list">
			
			<div class="palm-row single" id="showAvailableTypesContainer">
				<div class="palm-row-wrapper">
					<div class="label left">Verf&uuml;gbare Anzeigen</div>
					<div id="showAvailableTypes" x-mojo-element="ToggleButton"></div>
				</div>
			</div>
			
			<div id="availableTypes">
				
				<div class="palm-row">
					<div class="palm-row-wrapper">
						<div class="label left">Zeige Programme</div>
						<div id="showTypeApplication" x-mojo-element="ToggleButton"></div>
					</div>
				</div>
				
				<div class="palm-row">
					<div class="palm-row-wrapper">
						<div class="label left">Zeige Themen</div>
						<div id="showTypeTheme" x-mojo-element="ToggleButton"></div>
					</div>
				</div>
				
				<div class="palm-row">
					<div class="palm-row-wrapper">
						<div class="label left">Zeige Patches</div>
						<div id="showTypePatch" x-mojo-element="ToggleButton"></div>
					</div>
				</div>
				
				<div class="palm-row last">
					<div class="palm-row-wrapper">
						<div class="label left">Zeige andere Arten</div>
						<div id="showTypeOther" x-mojo-element="ToggleButton"></div>
					</div>
				</div>
				
			</div>
			
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title">Listenansicht</div>
		<div class="palm-list">
			
			<div class="palm-row first">
				<div class="palm-row-wrapper">
					<div class="label left">Sortierung</div>
					<div id="listSort" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div id="secondRow" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div class="label left">Installierte anzeigen</div>
					<div id="listInstalled" x-mojo-element="ToggleButton"></div>
				</div>
			</div>
			
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div class="label left">Nur kostenlose Programme</div>
					<div id="onlyShowFree" x-mojo-element="ToggleButton"></div>
				</div>
			</div>

		</div>
	</div>
	
	<div class="palm-group" id="backgroundPreferences">
		<div class="palm-group-title">Hintergrund</div>
		<div class="palm-list">
			
			<div class="palm-row first">
				<div class="palm-row-wrapper">
					<div id="backgroundUpdates" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div class="label left">Automatisch installieren</div>
					<div id="autoInstallUpdates" x-mojo-element="ToggleButton"></div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="palm-group" id="secretPreferences">
		<div class="palm-group-title">Geheime Einstellungen</div>
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div class="label left">Diese Version hat keine Geheimnisse.</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<!--
	<div class="palm-group">
		<div class="palm-group-title">asdf</div>
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper">

					asdf

				</div>
			</div>
	
		</div>
	</div>
	//-->
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
