<div class="luna">
	
	<div class="palm-header">
		Luna Manager
	</div>
	
	<div class="palm-header-spacer" style="height: 50px;"></div>
	
	<div class="palm-group unlabeled">
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div x-mojo-element="Button" id="Rescan"></div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="palm-group unlabeled">
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div x-mojo-element="Button" id="RestartLuna"></div>
					<div class="palm-body-text">Questo chiuderà tutte le applicazioni aperte prima del riavvio.</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="palm-group unlabeled">
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div x-mojo-element="Button" id="RestartJava"></div>
					<div class="palm-body-text">Questo causerà al telefono la perdità del segnale e un rallentamento fino alla fine del riavvio.</div>
				</div>
			</div>
			
		</div>
	</div>
	
</div>
