/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
.app-panels {
	background-color: #000000;
}

.app-panels > * {
	background-color: #555;
}

.onyx-toolbar {
	height: 54px;
}

.list-item {
	width: inherit;
	height: 32px;
	padding: 10px;
	color: white;
	background-color: #333333;
	border-bottom: 1px solid #0E0E0E;
	font-size: 18px;
}

.list-item.onyx-selected {
	background-color: MidnightBlue;
}
