<div class="luna">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-header" id="luna-title">
		<div id="back" class="backPill"></div>
		<span id="title">Luna Manager</span>
	</div>
	
	<div class="palm-header-spacer" style="height: 50px;"></div>
	
	<div class="palm-group unlabeled">
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div x-mojo-element="Button" id="Rescan"></div>
					<div class="palm-body-text" id="rescan-text">Due to a webOS bug, this will also close and stop notifications from the phone, email and messaging applications when it rescans.</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="palm-group unlabeled">
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div x-mojo-element="Button" id="RestartLuna"></div>
					<div class="palm-body-text" id="restart-luna-text">This will close all the applications you have open when it restarts.</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="palm-group unlabeled">
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div x-mojo-element="Button" id="RestartJava"></div>
					<div class="palm-body-text" id="restart-java-text">This will cause your phone to lose network connections and be pretty slow until it's done restarting.</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
