<div class="luna">
	
	<div class="palm-header">
		Luna Manager
	</div>
	
	<div class="palm-header-spacer" style="height: 50px;"></div>
	
	<div class="palm-group unlabeled">
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div x-mojo-element="Button" id="Rescan"></div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="palm-group unlabeled">
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div x-mojo-element="Button" id="RestartLuna"></div>
					<div class="palm-body-text">This will close all the applications you have open when it restarts.</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="palm-group unlabeled">
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div x-mojo-element="Button" id="RestartJava"></div>
					<div class="palm-body-text">This will cause your phone to lose network connections and be pretty slow until it's done restarting.</div>
				</div>
			</div>
			
		</div>
	</div>
	
</div>