<div class="palm-dialog-box">
	<div class="palm-dialog-wrapper">
 
		<div class="palm-dialog-content">
			
			<div class="dialog-title" id="dialogTitle"></div>
			<div id="palm-dialog-separator" class="palm-dialog-separator"></div>
			
			<div class="dialog-message" id="dialogMessage"></div>
			
		</div>
	
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td width="50%"><div x-mojo-element="Button" id="yesButton"></div></td>
				<td width="50%"><div x-mojo-element="Button" id="noButton"></div></td>
			</tr>
		</table>
		
		<div class="palm-list">
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div class="label left" id="toggleMessage"></div>
					<div id="dialogToggle" x-mojo-element="ToggleButton"></div>
				</div>
			</div>
		</div>
	
	</div>
</div>