/*
 * Small devices, Pixi && Veer
 */
body.small-device .update #question
{
	margin-top: 96px;
}
body.small-device .update #spinner
{
	margin-top: 90px;
}
body.small-device .pkg-list #statusSpinner,
body.small-device .pkg-connected #spinner
{
	margin-top: 95px;
}
body.small-device .pkg-install #spinner,
body.small-device .pkg-view #spinner
{
	margin-top: 55px;
}


/*
 * No gesture, TouchPad
 */
body.no-gesture
{
	
}
body.no-gesture .palm-page-header > .header-icon,
body.no-gesture .palm-page-header .icon
{
  background: url(../images/ui-revision-2/back-flat.png) center center no-repeat;
}
