/*
 * Small devices, Pixi && Veer
 */
body.small-device .update #question
{
	margin-top: 96px;
}
body.small-device .update #spinner
{
	margin-top: 90px;
}
body.small-device .pkg-list #statusSpinner,
body.small-device .pkg-connected #spinner
{
	margin-top: 95px;
}
body.small-device .pkg-install #spinner,
body.small-device .pkg-view #spinner
{
	margin-top: 55px;
}


/*
 * No gesture, TouchPad
 */
body.no-gesture
{
	
}
body.no-gesture .palm-page-header > .header-icon,
body.no-gesture .palm-page-header .icon
{
	background-image: url(../images/ui-revision-2/back-flat.png);
}


body.no-gesture .palm-divider.labeled .right
{
	background-image: url(../images/ui-revision-2/palm-divider-line.png);
}
body.no-gesture.palm-dark .palm-divider.labeled .right
{
	background-image: url(../images/ui-revision-2/palm-divider-line-dark.png);
}
body.no-gesture.palm-dark.appcat .palm-divider.labeled .right
{
	background-image: url(../images/ui-revision-2/list-section-line.png);
}

body.no-gesture .palm-header .backPill
{
	position: absolute;
	top: 9px;
	left: -16px;
	height: 33px;
	width: 38px;
	background: url(../images/ui-revision-2/back-pill.png) center center no-repeat;
}
body.no-gesture.palm-dark .palm-header .backPill
{
	background-image: url(../images/ui-revision-2/back-pill-dark.png);
}

body.no-gesture .ss-scene .ss-back
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	z-index: 2000;
	background: url(../images/ui-revision-2/back-ss.png) center center no-repeat;
}

body.no-gesture .pkg-view .palm-header #icon
{
	margin-left: 28px;
}

body.no-gesture .main .searchButton
{
	position: absolute;
	top: 11px;
	right: 6px;
	width: 50px;
	height: 50px;
	background: url(../images/ui-revision-2/search-main.png) center center no-repeat;
}
body.no-gesture .pkg-list #searchText
{
	padding-left: 33px;
}
body.no-gesture .pkg-list .searchBack
{
	display: none;
	position: absolute;
	top: 5px;
	left: 9px;
	width: 40px;
	height: 40px;
	z-index: 200000;
	background: url(../images/ui-revision-2/search-list.png) center center no-repeat;
}
body.no-gesture .pkg-list .searchPill
{
	position: relative;
	float: right;
	height: 36px;
	width: 35px;
	margin-top: 7px;
	margin-right: -16px;
	background: url(../images/ui-revision-2/search-pill.png) center center no-repeat;
}
body.no-gesture.palm-dark .pkg-list .searchPill
{
	background-image: url(../images/ui-revision-2/search-pill-dark.png);
}
body.no-gesture .pkg-list .group-source
{
	margin-left: 20px;
}
body.no-gesture .ipkglog #logScroller
{
	width: 100%;
}


body.no-gesture .file-picker #folderHolder .folder
{
	width: 1025px;
}
body.no-gesture .file-picker .folder .palm-page-header
{
	width: 1024px;
}
body.no-gesture .file-picker #folderHolder .folder .palm-list
{
	width: 1024px;
}