/*
 * Global Styles
 */
.scene-fade-top
{
	position: fixed; 
	top: 0; 
	z-index: 11000;
	height: 30px; 
	width: 100%;
	background: url(../images/palm-default/scrollFade-top.png) top center repeat-x;
	-webkit-palm-mouse-target: ignore;
}
.scene-fade-bottom
{
	position: fixed; 
	bottom: 0; 
	z-index: 11000;
	height: 30px; 
	width: 100%;
	background: url(../images/palm-default/scrollFade-bottom.png) bottom center repeat-x;
	-webkit-palm-mouse-target: ignore;
}
body.palm-dark .scene-fade-top
{
	background: url(../images/palm-dark/scrollFade-top.png) top center repeat-x;
}
body.palm-dark .scene-fade-bottom
{
	background: url(../images/palm-dark/scrollFade-bottom.png) bottom center repeat-x;
}
.palm-row-wrapper .pkgCount
{
	float: right;
    line-height: 19px;
    height: 30px;
    min-width: 30px;
	vertical-align: middle;
    -webkit-border-image: url(../images/palm-default/pkgCount.png) 5 10 5 10 stretch stretch;
    -webkit-box-sizing: border-box;
    border-width: 5px 10px 5px 10px;
	margin-top: 12px;
	margin-right: 15px;
}
body.palm-dark .palm-row-wrapper .pkgCount
{
    -webkit-border-image: url(../images/palm-dark/pkgCount.png) 5 10 5 10 stretch stretch;
}
.palm-row-wrapper .pkgCount .count
{
	color: #e4e4e2;
}
body.palm-dark .palm-row-wrapper .pkgCount .count
{
	color: #393e43;
}


/*
 * Main Scene Styles
 */
.main #spinner
{
	margin-top: 72px;
	margin-left: auto;
	margin-right: auto;
}
.main #spinner #spinnerStatus
{
	text-align: center;
	padding-top: 122px;
	width: 200px;
	margin-left: -35px;
	color: #666;
	font-size: 16px;
}
body.palm-dark .main #spinner #spinnerStatus
{
	color: #999;
}
.main .progress
{
	margin-top: 42px;
	height: 15px;
	width: 114px;
	margin-left: auto;
	margin-right: auto;
	background: url(../images/palm-default/progress-back.png) center center no-repeat;
}
.main .progress .progress-bar
{
	height: 15px;
	width: 50%;
	margin-left: 0px;
	background: url(../images/palm-default/progress-front.png) top left no-repeat;
}
body.palm-dark .main .progress
{
	background: url(../images/palm-dark/progress-back.png) center center no-repeat;
}
body.palm-dark .main .progress .progress-bar
{
	background: url(../images/palm-dark/progress-front.png) top left no-repeat;
}
.main .palm-page-header-wrapper .icon
{
	width: 76px;
	height: 75px;
	background: url(../icon.png) center center no-repeat;
}
.main .palm-page-header-wrapper .title
{
	padding-left: 75px;
}
.main .palm-page-header-wrapper .title.main
{
	font-size: 30px;
	padding-top: 5px;
	padding-bottom: 0px;
}
.main .palm-page-header-wrapper .title .version
{
	font-size: 12px;
	color: #888;
	text-transform: lowercase;
}
.main .palm-page-header-wrapper .title.sub
{
	font-size: 14px;
	padding-top: 0px;
	margin-top: 0px;
}
.main .palm-row-wrapper
{
	height: 60px;
}
.main .palm-row-wrapper .title
{
	padding-top: 15px;
}
.main .palm-row-wrapper.disabled .title
{
	color: #999;
}
.main .palm-row-wrapper .pkgCount
{
	display: none;
}
.main .palm-row-wrapper.showCount .pkgCount
{
	display: inline;
	margin-top: 14px;
}



/*
 * Preference Scene Styles
 */
.prefs .palm-row-wrapper .label.left
{
	padding-left: 6px;
	-webkit-palm-mouse-target: ignore;
}
.prefs .palm-list-selector .label
{
	float: left;
}
.prefs .palm-list-selector .title
{
	text-align: right;
}
.prefs .palm-group.disabled
{
	opacity: 0.35;
}


/*
 * Package Category List Styles
 */
.pkg-groups #categoryList .title
{
	text-transform: capitalize;
}



/*
 * Package List Scene Styles
 */
.pkg-list #searchText
{
	display: none;
	z-index: 20000;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
	color: #fff;
	padding-top: 2px;
	padding-left: 1px;
	border-width: 10px 25px 10px 25px;
	-webkit-border-image: url(../images/search-box.png) 10 25 10 25 stretch stretch;
	-webkit-box-sizing: border-box;
}
.pkg-list #searchText input
{
	color: #fff;
	background: none;
	margin-top: 0px;
	margin-left: -1px;
	border: 0px;
	padding: 0px;
}
.pkg-list #spinner
{
	position: fixed;
	top: 8px;
	right: 10px;
	z-index: 20001;
	float: right;
}
.pkg-list .group-source 
{
	display: none;
	position:relative;
	float:right;
	margin: 8px -16px 0px 0px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	height:35px;
	line-height: 33px;
	border-width: 0px 22px 0px 16px;
	-webkit-border-image:url(../images/header-selector.png) 0 22 0 16 stretch stretch;
	-webkit-box-sizing: border-box;
}
.pkg-list .group-selector 
{
	margin-left:-5px;
	padding-right: 2px;
	background: transparent;
	display:inline-block;
	min-width: 12px;
	max-width: 85px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-webkit-palm-mouse-target: ignore;
}
.pkg-list .palm-row-wrapper
{
	position: relative;
	height: 56px;
}
.pkg-list .palm-row-wrapper .icon
{
	position: absolute;
	width: 48px;
	height: 48px;
	background: url(../images/noIcon.png) center center no-repeat;
	top: 3px;
	left: 4px;
}
.pkg-list .palm-row-wrapper.img .icon
{
	background: none;
}
.pkg-list .palm-row-wrapper.img .icon img
{
	width: 48px;
	height: 48px;
}
.pkg-list .palm-row-wrapper.installed .icon .sub
{
	position: absolute;
	width: 16px;
	height: 16px;
	top: 0px;
	left: 32px;
	background: url(../images/icon_installed.png) center center no-repeat;
}
.pkg-list .palm-row-wrapper.update .icon .sub
{
	position: absolute;
	width: 16px;
	height: 16px;
	top: 0px;
	left: 32px;
	background: url(../images/icon_updates.png) center center no-repeat;
}
.pkg-list .palm-row-wrapper .title
{
	position: absolute;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-top: 0px;
	padding-left: 0px;
	left: 60px;
	right: 5px;
}
.pkg-list .palm-row-wrapper .title .highlight
{
	font-weight: bold;
	text-decoration: underline;
}
.pkg-list .palm-row-wrapper .title.description
{
	top: 4px;
}
.pkg-list .palm-row-wrapper .title.package
{
	color: #999;
	top: 30px;
	font-size: 14px;
}
.group-popup.palm-popup-container
{
	text-transform: capitalize;
}
/* these would be sub of .pkg-list, but the commandmenu isn't part of that div */
.icon-filter-date
{
	background:url(../images/icon_date.png) top center no-repeat;
}
.icon-filter-alpha
{
	background:url(../images/icon_alpha.png) top center no-repeat;
}



/*
 * Package View Scene Styles
 */
.pkg-view #spinner
{
	margin-top: 85px;
	margin-left: auto;
	margin-right: auto;
}
.pkg-view #spinner #spinnerStatus
{
	text-align: center;
	padding-top: 122px;
	width: 200px;
	margin-left: -35px;
	color: #666;
	font-size: 16px;
}
body.palm-dark .pkg-view #spinner #spinnerStatus
{
	color: #999;
}
.pkg-view .palm-header
{
	padding-left: 0px;
}
.pkg-view .palm-header #icon
{
	float: left;
	width: 48px;
	margin-top: 2px;
	margin-left: -10px;
}
.pkg-view .palm-header #icon img
{
	width: 48px;
}
.pkg-view .palm-header #title
{
	float: left;
	padding-left: 15px;
	width: 215px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.pkg-view .palm-header-spacer
{
	height: 50px;
}
.pkg-view .palm-row .palm-row-wrapper .title.description
{
	margin-top: 5px;
	font-size: 18px !important;
}
.pkg-view .palm-row .palm-row-wrapper .title.description *
{
	font-size: 18px !important;
}
.pkg-view .palm-row .palm-row-wrapper .title.description p
{
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
}
/*
.pkg-view .palm-row .palm-row-wrapper .title.right.class
{
}
*/
.pkg-view #scrollerContainer.palm-row.screenshots
{
	background: url(../images/palm-default/screenshotFade.png) repeat-x;
}
.pkg-view #scrollerContainer.palm-row.apps
{
	background: url(../images/palm-default/appFade.png) repeat-x;
}
body.palm-dark .pkg-view #scrollerContainer.palm-row.screenshots
{
	background: url(../images/palm-dark/screenshotFade.png) repeat-x;
}
body.palm-dark .pkg-view #scrollerContainer.palm-row.apps
{
	background: url(../images/palm-dark/appFade.png) repeat-x;
}
.pkg-view #scrollerContainer.palm-row.screenshots #viewScroller
{
	height: 130px;
	padding-top: 10px;
	width: 100%;
}
.pkg-view #scrollerContainer.palm-row.apps #viewScroller
{
	height: 64px;
	padding-top: 10px;
	width: 100%;
}
.pkg-view #viewScroller #scrollItems
{
	width: 320px;
	text-align: center;
	white-space: nowrap;
	overflow: visible;
}
.pkg-view #viewScroller #scrollItems img.screenshot
{
	margin-left: 13px;
	margin-right: 13px;
	height: 120px
}
.pkg-view #viewScroller #scrollItems div.appReset
{
	background: #fff; /* for some reason, if i remove this, it stops working */
	position: relative;
	display: inline;
	margin-left: 0px;
	margin-right: 0px;
	height: 54px;
	width: 0px;
}
.pkg-view #viewScroller #scrollItems div.app
{
	position: relative;
	display: inline;
	margin-left: 13px;
	margin-right: 13px;
	height: 54px;
	width: 54px;
}
.pkg-view #viewScroller #scrollItems div.app img
{
	width: 54px;
}
.pkg-view #viewScroller #scrollItems div.app .sub
{
	position: absolute;
	display: inline-block;
	width: 0px;
	height: 0px;
	-webkit-palm-mouse-target: ignore;
}
.pkg-view #viewScroller #scrollItems div.app.installed .sub
{
	width: 16px;
	height: 16px;
	margin-left: 38px;
	background: url(../images/icon_installed.png) center center no-repeat;
}
.pkg-view #viewScroller #scrollItems div.app.update .sub
{
	width: 16px;
	height: 16px;
	margin-left: 38px;
	background: url(../images/icon_updates.png) center center no-repeat;
}
.palm-dialog-box.ipkglog-dialog #logScroller
{
	position: relative;
	height: 200px;
	margin-top: -4px;
}
.palm-dialog-box.ipkglog-dialog #logScroller #logData
{
	padding: 4px;
	white-space: nowrap;
	height: 100%;
	width: 100%;
}.palm-dialog-box.ipkglog-dialog #logScroller #logData .palm-dialog-separator
{
	margin-bottom: 5px;
	margin-top: 5px;
}
.palm-dialog-box.ipkglog-dialog #logScroller #logData .title
{
	text-transform: capitalize;
	font-size: 22px;
	margin-bottom: 5px;
}
.palm-dialog-box.ipkglog-dialog #logScroller #logData .msg
{
	padding-left: 10px;
	margin-bottom: 5px;
}
.palm-dialog-box.ipkglog-dialog #logScroller #logData .stdOut div
{
	padding-left: 10px;
	margin-bottom: 5px;
	color: #060;
}
.palm-dialog-box.ipkglog-dialog #logScroller #logData .stdErr div
{
	padding-left: 10px;
	margin-bottom: 5px;
	color: #600;
}



/*
 * Screenshot Scene Styles
 */
.ss-scene
{
	padding: 0px;
	background: black;
}
.ss-scene #screenshotView
{
	height: 480px;
	width: 320px;
	margin: 0px;
	-webkit-user-drag: none;
	border: 0px;
	padding: 0px;
	background-color: black;
}
.ss-scene #screenshotView.sideways
{
	width: 480px;
	height: 320px;
}


