<div class="pkg-list">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div id="pkgListHeader" class="palm-header">
		<span id="listTitle"></span>
		<div id="groupSource" class="group-source">
			<div id="groupTitle" class="group-selector">None</div>
		</div>
	</div>
	
	<div id="spinner" x-mojo-element="Spinner"></div>
	<div id="searchText" x-mojo-element="TextField"></div>
	
	<div class="palm-header-spacer"></div>
	
	<div class="palm-list">
		<div id="pkgList" x-mojo-element="List"></div>
	</div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
