<div class="pkg-list">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div id="pkgListHeader" class="palm-header">
		<div id="back" class="backPill"></div>
		<span id="listTitle"></span>
		<div id="groupSource" class="group-source">
			<div id="groupTitle" class="group-selector">None</div>
		</div>
		<div id="searchButton" class="searchPill"></div>
	</div>
	
	<div id="searchBack" class="searchBack"></div>
	<div id="searchCountElement" class="countContainer">
          <span id="searchCount" class="count"></span>
	</div>
	<div id="spinner" x-mojo-element="Spinner"></div>
	<div id="searchText" x-mojo-element="TextField"></div>
	
	<div class="palm-header-spacer" id="pkgSpacer"></div>
	
	<div x-mojo-element="Spinner" id="statusSpinner">
		<div id="spinnerStatus"></div>
	</div>
	
	<div class="palm-list" id="pkgListContainer">
		<div id="pkgList" x-mojo-element="List"></div>
	</div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
