<div class="pkg-view">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-header left">
		<div id="icon"></div>
		<span id="title"></span>
	</div>
	
	<div class="palm-header-spacer"></div>
	
	<div x-mojo-element="Spinner" id="spinner">
		<div id="spinnerStatus">...</div>
	</div>
	
	<div id="viewDataContainer">
	
		<div class="palm-row" id="scrollerContainer">
			<div class="palm-row-wrapper">
				<div id="viewScroller" x-mojo-element="Scroller">
					<div id="scrollItems"></div>
				</div>
			</div>
		</div>
		
		<div class="palm-list" id="data"></div>
	
	</div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
